$palette-green:#00a40f;
$palette-beige:#f6f6e9;
$palette-red:#ee0028;
$palette-orange:#ffa500;
$palette-navajowhite:#ffdead;
$palette-orange-peel:#ff9800;
$palette-old-lace:#fff5e5;
$palette-gray: #808080;
$palette-white: #fff;
$palette-gainsboro:#dcdcdc;
$palette-royalblue:#4169e1;