$font-size-16px:16px;

$base-font-size:$font-size-16px;

@mixin button {
  font-size: $base-font-size;
  white-space: nowrap;
  min-width: 48px;
  display: flex;
  text-decoration: none;
  box-sizing: border-box;
}

@mixin button-style {
  border-radius: 5px;
  letter-spacing: 5px;
  transition: 0.3s;
}