.create-item,
.edit-item {
  &__ul {
    margin-left: -40px;
    list-style: none;
    font-weight: bold;
    color: gray;
    &-name {
      margin-top: 8px;
    }

    &-btn-back {
      white-space: nowrap;
      min-width: 48px;
      font-size: 16px;
      display: flex;
      padding: 4px 8px 2px;
      text-decoration: none;
      box-sizing: border-box;
      border-radius: 5px;
      letter-spacing: 5px;
      transition: 0.3s;
      color: #f6f6e9;
      background: #4169e1;
      border: solid 2px #4169e1;

      &:hover {
        background: #f6f6e9;
        color: #4169e1;
        border: solid 2px #4169e1;
      }
      &:focus {
        outline:0;
      }
    }

    &-input {
      width: 44px;
    }
    &-input-min {
      width: 24px;
    }
    &-textarea {
      width: 100%;
      height: 190px;
    }
    &-btn-create {
      white-space: nowrap;
      min-width: 48px;
      font-size: 16px;
      font-weight: bold;
      display: flex;
      padding: 4px 3px 2px 12px;
      text-decoration: none;
      box-sizing: border-box;
      border-radius: 5px;
      letter-spacing: 5px;
      outline: 0; /* 入力の薄い枠を非表示  */
      transition: 0.3s;
      color: #f6f6e9;
      background: #00a40f;
      border: solid 2px #00a40f;

      &:hover {
        background: #f6f6e9;
        color: #00a40f;
        border: solid 2px #00a40f;
      }
    }
    &-btn-del {
      display: inline-block;
      vertical-align: middle;
      font-size: 16px;
      margin-top: 8px;
      background-color: #ee0028;
      color: #fff;
      padding: 4px 6px 3px;
      border-radius: 16px;
      border: 2px solid #ee0028;
      box-sizing: border-box;
      border-radius: 5px;
      letter-spacing: 5px;
      text-indent: 6px;
      outline: 0; /* 入力の薄い枠を非表示  */
      transition: 0.3s;
      &:hover {
        background: #f6f6e9;
        color: #ee0028;
        border: solid 2px #ee0028;
        text-decoration: none;
      }
    }
  }
}
