@import "variables";
@import "palette";
@import "colors";

.back-btn {
  @include button;
  @include  button-style;
  color: $color-back-button-color;
  background: $color-back-button-background;
  border: solid 2px $color-back-button-border;
  padding: 4px 8px 2px;

  &:hover {
    color: $color-back-button-color-hover;
    background: $color-back-button-background-hover;
    border: solid 2px $color-back-button-border-hover;
  }
  &:focus {
    outline:0;
  }
}

.item-table {
  color: $color-item-table-color;
  margin: 8px 0;
  &__th {
    border-bottom: solid 0.5px $color-item-table-border-bottom;
    width: 100px;
    padding: 8px 0 0 8px;
  }
  &__td {
    padding: 8px 0 0 8px;
  }
}

.edit-btn {
  @include button;
  @include  button-style;
  color: $color-edit-button-color;
  background: $color-edit-button-background;
  border: solid 2px $color-edit-button-border;
  padding: 4px 8px 2px;
  
  &:hover {
    color: $color-edit-button-color-hover;
    background: $color-edit-button-background-hover;
    border: solid 2px $color-edit-button-border-hover;
  }
  &:focus {
    outline:0;
  }
}
