//今後画像実装予定の画像がない場合はnoimage画像を表示する設定
// .noimage {
//   background-image: url("/storage/imgs/noimage.jpg");
//   width: 80%;
//   height: 80%;
//   object-fit: contain;
// }

.menu {
  display: flex;
  height: 64px;

  &__register,
  &__list {
    &-btn {
      white-space: nowrap;
      min-width: 48px;
      font-size: 16px;
      display: flex;
      padding: 5px 12px 4px 18px;
      text-decoration: none;
      color: #f6f6e9;
      background: #00a40f;
      border: solid 2px #00a40f;
      box-sizing: border-box;
      border-radius: 5px;
      letter-spacing: 5px;
      transition: 0.3s;

      &:hover {
        background: #f6f6e9;
        color: #00a40f;
        border: solid 2px #00a40f;
      }
      &:focus {
        outline:0;
      }
    }
  }
  &__list {
    margin: 0 10px;
  }
  &__search {
    &-btn {
      font-size: 16px;
      padding: 5px 12px 5px 16px;
      text-decoration: none;
      color: #f6f6e9;
      background: #00a40f;
      border: solid 2px #00a40f;
      box-sizing: border-box;
      border-radius: 0 32px 32px 0;
      letter-spacing: 5px;
      transition: 0.3s;

      &:hover {
        background: #f6f6e9;
        color: #00a40f;
        border: solid 2px #00a40f;
      }
      &:focus {
        outline:0;
      }
    }
    &-area {
      font-size: 16px;
      margin-right: -4px;
      padding: 5px 12px 5px 16px;
      border-radius: 32px 0 0 32px;
      border: 2px solid #00a40f;
      border-right-style: none;
      outline: 0; /* 入力の薄い枠を非表示  */
    }
    ::placeholder {
      color: #ccc;
    }
  }
}

.delete {
  display: inline-block;

  &__btn {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    font-weight: bold;
    margin: 8px;
    background-color: #ee0028;
    color: #fff;
    padding: 5px 13px;
    border-radius: 32px;
    border: 2px solid #ee0028;
    box-sizing: border-box;
    border-radius: 5px;
    outline: 0; /* 入力の薄い枠を非表示  */
    transition: 0.3s;
    &:hover {
      background: #f6f6e9;
      color: #ee0028;
      border: solid 2px #ee0028;
    }
  }
}

&__list {
  width: 500px;
  display: inline-block;
  margin-bottom: 0;
  &-ul {
    list-style: none;
    font-weight: bold;
    letter-spacing: 3px;
    padding: 0;
    &-li {
      margin: 0;
      display: inline-block;
    }
  }
}

.item-show-wrapper {
  display: flex;
  &__block {
    margin: 0 auto;
    &-btn {
      width: 100%;
      font-size: 16px;
      display: flex;
      padding: 5px 10px 5px 16px;
      text-decoration: none;
      color: #f6f6e9;
      background: orange;
      border: solid 2px orange;
      box-sizing: border-box;
      border-radius: 5px;
      letter-spacing: 5px;
      transition: 0.3s;

      &:hover {
        background: #f6f6e9;
        color: orange;
        border: solid 2px orange;
      }
      &:focus {
        outline:0;
      }
    }
  }
}

.item-name {
  font-weight: bold;
}
.stock {
  white-space: pre;
}

.line {
  border: solid 0.5px #ffdead;
  margin-bottom: 8px;
}

.table-list {
  width: 100%;

  th {
  color: #ff9800;
  background: #fff5e5;
  letter-spacing: 2px;
  }

  td {
    color: gray;
    letter-spacing: 1px;
  }

  &__th-top {
    width: 50px;
  }

  &__th-bottom {
    width: 72px;
  }

  &__tabel-edit {
    text-align: center;
  }
}

.delbox-wrapper {
  &__block {
    margin: 24px 24px 24px 22px;
  }
}

.time-limit {
  color: red;
  font-weight: bold;
}
.time-over {
  color: #fff;
  background-color: #dcdcdc;
}
.time-ago {
  font-weight: bold;
}

@media screen and (max-width: 900px) {
  .menu {
    display: block;
    margin-bottom: 32px;
  }
  .menu__search {
    margin: 0;
    vertical-align: middle;
  }
  .menu__register,
  .menu__list {
    display: inline-block;
    margin-bottom: 10px;
  }
  .css-br::after {
    content: "\A";
    white-space: pre;
  }
}
