//今後画像実装予定の画像がない場合はnoimage画像を表示する設定
// .noimage {
//   background-image: url("/storage/imgs/noimage.jpg");
//   width: 80%;
//   height: 80%;
//   object-fit: contain;
// }

@import "variables";
@import "palette";
@import "colors";

.menu {
  display: flex;
  height: 64px;

  &__register,
  &__list {
    &-btn {
      @include button;
      @include  button-style;
      color: $color-register-button-color;
      background: $color-register-button-background;
      border: solid 2px $color-register-button-border;
      padding: 5px 12px 4px 18px;
      &:hover {
        color: $color-register-button-color-hover;
        background: $color-register-button-background-hover;
        border: solid 2px $color-register-button-border-hover;
      }
      &:focus {
        outline:0;
      }
    }
  }
  &__list {
    margin: 0 10px;
  }
  &__search {
    &-btn {
      font-size: $base-font-size;
      padding: 5px 12px 5px 16px;
      text-decoration: none;
      color: $color-search-button-color;
      background: $color-search-button-background;
      border: solid 2px $color-search-button-border;
      box-sizing: border-box;
      border-radius: 0 32px 32px 0;
      letter-spacing: 5px;
      transition: 0.3s;

      &:hover {
        color: $color-search-button-color-hover;
        background: $color-search-button-background-hover;
        border: solid 2px $color-search-button-border-hover;
      }
      &:focus {
        outline:0;
      }
    }
    &-area {
      font-size: $base-font-size;
      margin-right: -4px;
      padding: 5px 12px 5px 16px;
      border-radius: 32px 0 0 32px;
      border: 2px solid $color-search-area-border;
      border-right-style: none;
      outline: 0; /* 入力の薄い枠を非表示  */
    }
    ::placeholder {
      color: #ccc;
    }
  }
}

.delete {
  display: inline-block;

  &__btn {
    font-size: $base-font-size;
    font-weight: bold;
    margin: 8px;
    padding: 5px 13px;
    display: inline-block;
    vertical-align: middle;
    color: $color-all-delete-button-color;
    background-color: $color-all-delete-button-background;
    border: 2px solid $color-all-delete-button-border;
    border-radius: 5px;
    box-sizing: border-box;
    outline: 0; /* 入力の薄い枠を非表示  */
    transition: 0.3s;
    &:hover {
      color: $color-all-delete-button-color-hover;
      background: $color-all-delete-button-background-hover;
      border: solid 2px $color-all-delete-button-border-hover;
    }
  }
}

&__list {
  width: 500px;
  display: inline-block;
  margin-bottom: 0;
  &-ul {
    list-style: none;
    font-weight: bold;
    letter-spacing: 3px;
    padding: 0;
    &-li {
      margin: 0;
      display: inline-block;
    }
  }
}

.item-show-wrapper {
  display: flex;
  &__block {
    margin: 0 auto;
    &-btn {
      @include  button-style;
      width: 100%;
      font-size: $base-font-size;
      display: flex;
      padding: 5px 10px 5px 16px;
      text-decoration: none;
      color: $color-show-button-color;
      background: $color-show-button-background;
      border: solid 2px $color-show-button-border;
      box-sizing: border-box;

      &:hover {
        color: $color-show-button-color-hover;
        background: $color-show-button-background-hover;
        border: solid 2px $color-show-button-border-hover;
      }
      &:focus {
        outline:0;
      }
    }
  }
}

.item-name {
  font-weight: bold;
}
.stock {
  white-space: pre;
}

.line {
  border: solid 0.5px $color-line;
  margin-bottom: 8px;
}

.table-list {
  width: 100%;

  th {
  color: $color-user-show-table-th-color;
  background: $color-user-show-table-th-background;
  letter-spacing: 2px;
  }

  td {
    color:  $palette-gray;
    letter-spacing: 1px;
  }

  &__th-top {
    width: 50px;
  }

  &__th-bottom {
    width: 72px;
  }

  &__tabel-edit {
    text-align: center;
  }
}

.delbox-wrapper {
  &__block {
    margin: 24px 24px 24px 22px;
  }
}

.time-limit {
  color: $color-time-limit;
  font-weight: bold;
}
.time-over {
  color: $color-time-over-color;
  background-color: $palette-gainsboro;
}
.time-ago {
  font-weight: bold;
}

@media screen and (max-width: 900px) {
  .menu {
    display: block;
    margin-bottom: 32px;
  }
  .menu__search {
    margin: 0;
    vertical-align: middle;
  }
  .menu__register,
  .menu__list {
    display: inline-block;
    margin-bottom: 10px;
  }
  .css-br::after {
    content: "\A";
    white-space: pre;
  }
}
