//登録、一覧ボタン
$color-register-button-color:$palette-beige;
$color-register-button-background:$palette-green;
$color-register-button-border:$palette-green;

//登録、一覧ボタン ホーバー
$color-register-button-color-hover:$palette-green;
$color-register-button-background-hover:$palette-beige;
$color-register-button-border-hover:$palette-green;

//検索ボタン
$color-search-button-color:$palette-beige;
$color-search-button-background:$palette-green;
$color-search-button-border:$palette-green;

//検索ボタン ホーバー
$color-search-button-color-hover:$palette-green;
$color-search-button-background-hover:$palette-beige;
$color-search-button-border-hover:$palette-green;

//検索エリア
$color-search-area-border:$palette-green;

// all削除ボタン
$color-all-delete-button-color:$palette-beige;
$color-all-delete-button-background:$palette-red;
$color-all-delete-button-border:$palette-red;

// all削除ボタン ホバー
$color-all-delete-button-color-hover:$palette-red;
$color-all-delete-button-background-hover:$palette-beige;
$color-all-delete-button-border-hover:$palette-red;

// 詳細・編集ボタン
$color-show-button-color:$palette-beige;
$color-show-button-background:$palette-orange;
$color-show-button-border:$palette-orange;

// 詳細・編集ボタン ホバー
$color-show-button-color-hover:$palette-orange;
$color-show-button-background-hover:$palette-beige;
$color-show-button-border-hover:$palette-orange;

// リストの下線
$color-line:$palette-navajowhite;

//テーブル th
$color-user-show-table-th-color:$palette-orange-peel;
$color-user-show-table-th-background:$palette-old-lace;

//テーブル td
$color-user-show-table-td-color:$palette-gray;

// 残り日数
$color-time-limit:$palette-red;
$color-time-over-color:$palette-white;
$color-time-over:$palette-gainsboro;

// 登録、編集ページ リストの色
$color-create-item-ul-color:$palette-gray;

//戻るボタン
$color-back-button-color:$palette-beige;
$color-back-button-background:$palette-royalblue;
$color-back-button-border:$palette-royalblue;

//戻るボタン ホバー
$color-back-button-color-hover:$palette-royalblue;
$color-back-button-background-hover:$palette-beige;
$color-back-button-border-hover:$palette-royalblue;

// item/createの登録ボタン
$color-create-item-button-color:$palette-beige;
$color-create-item-button-background:$palette-green;
$color-create-item-button-border:$palette-green;

// item/createの登録ボタン ホバー
$color-create-item-button-color-hover:$palette-green;
$color-create-item-button-background-hover:$palette-beige;
$color-create-item-button-border-hover:$palette-green;

// 削除ボタン
$color-delete-button-color:$palette-beige;
$color-delete-button-background:$palette-red;
$color-delete-button-border:$palette-red;

// 削除ボタン ホバー
$color-delete-button-color-hover:$palette-red;
$color-delete-button-background-hover:$palette-beige;
$color-delete-button-border-hover:$palette-red;

// item/show 編集へボタン
$color-edit-button-color:$palette-beige;
$color-edit-button-background:$palette-orange;
$color-edit-button-border:$palette-orange;

// item/show 編集へボタン ホバー
$color-edit-button-color-hover:$palette-orange;
$color-edit-button-background-hover:$palette-beige;
$color-edit-button-border-hover:$palette-orange;

//item/show table border
$color-item-table-color:$palette-gray;
$color-item-table-border-bottom:$palette-navajowhite;
