@import "variables";
@import "palette";
@import "colors";

.create-item,
.edit-item {
  &__ul {
    margin-left: -40px;
    list-style: none;
    font-weight: bold;
    color: $palette-gray;
    &-name {
      margin-top: 8px;
    }
    &-navbar-brand{
      @include button;
      @include button-style;
      width: 144px; 
      padding: 4px 8px 2px;
      margin-bottom: 8px;
      font-weight: normal;
      color: $color-back-button-color;
      background: $color-back-button-background;
      border: solid 2px $color-back-button-border;
    
      &:hover {
        text-decoration: none;
        color: $color-back-button-color-hover;
        background: $color-back-button-background-hover;
        border: solid 2px $color-back-button-border-hover;
      }
      &:focus {
        outline:0;
      }
    }


    &-btn-back {
      @include button;
      @include button-style;
      color: $color-back-button-color;
      background: $color-back-button-background;
      border: solid 2px $color-back-button-border;
      padding: 4px 8px 2px;

      &:hover {
        color: $color-back-button-color-hover;
        background: $color-back-button-background-hover;
        border: solid 2px $color-back-button-border-hover;
      }
      &:focus {
        outline:0;
      }
    }

    &-input {
      width: 44px;
    }
    &-input-min {
      width: 24px;
    }
    &-textarea {
      width: 100%;
      height: 190px;
    }
    &-btn-create {
      @include button;
      @include  button-style;
      outline: 0; /* 入力の薄い枠を非表示  */
      color: $color-create-item-button-color;
      background: $color-create-item-button-background;
      border: solid 2px $color-create-item-button-border;
      font-weight: bold; 
      padding: 4px 3px 2px 12px;

      &:hover {
        color: $color-create-item-button-color-hover;
        background: $color-create-item-button-background-hover;
        border: solid 2px $color-create-item-button-border-hover;
      }
    }
    &-btn-del {
      @include  button-style;
      font-size: $base-font-size;
      margin-top: 8px;
      padding: 4px 6px 3px;
      color: $color-delete-button-color;
      background-color: $color-delete-button-background;
      border: 2px solid $color-delete-button-border;
      display: inline-block;
      vertical-align: middle;
      box-sizing: border-box;
      text-indent: 6px;
      outline: 0; /* 入力の薄い枠を非表示  */

      &:hover {
        color: $color-delete-button-color-hover;
        background: $color-delete-button-background-hover;
        border: solid 2px $color-delete-button-border-hover;
        text-decoration: none;
      }
    }
  }
}
