.create-item__ul, .edit-item__ul {
  margin-left: -40px;
  list-style: none;
  font-weight: bold;
  color: gray;
}
.create-item__ul-name, .edit-item__ul-name {
  margin-top: 8px;
}
.create-item__ul-input, .edit-item__ul-input {
  width: 44px;
}
.create-item__ul-input-min, .edit-item__ul-input-min {
  width: 24px;
}
.create-item__ul-textarea, .edit-item__ul-textarea {
  width: 100%;
  height: 190px;
}
