.menu {
  display: flex;
  height: 64px;
}
.menu__register-btn, .menu__list-btn {
  white-space: nowrap;
  min-width: 48px;
  font-size: 16px;
  display: flex;
  padding: 5px 12px 4px 18px;
  text-decoration: none;
  color: #f6f6e9;
  background: #00a40f;
  border: solid 2px #00a40f;
  box-sizing: border-box;
  border-radius: 5px;
  letter-spacing: 5px;
  transition: 0.3s;
}
.menu__register-btn:hover, .menu__list-btn:hover {
  background: #f6f6e9;
  color: #00a40f;
  border: solid 2px #00a40f;
}
.menu__register-btn:focus, .menu__list-btn:focus {
  outline: 0;
}
.menu__list {
  margin: 0 10px;
}
.menu__search-btn {
  font-size: 16px;
  padding: 5px 12px 5px 16px;
  text-decoration: none;
  color: #f6f6e9;
  background: #00a40f;
  border: solid 2px #00a40f;
  box-sizing: border-box;
  border-radius: 0 32px 32px 0;
  letter-spacing: 5px;
  transition: 0.3s;
}
.menu__search-btn:hover {
  background: #f6f6e9;
  color: #00a40f;
  border: solid 2px #00a40f;
}
.menu__search-btn:focus {
  outline: 0;
}
.menu__search-area {
  font-size: 16px;
  margin-right: -4px;
  padding: 5px 12px 5px 16px;
  border-radius: 32px 0 0 32px;
  border: 2px solid #00a40f;
  border-right-style: none;
  outline: 0;
  /* 入力の薄い枠を非表示  */
}
.menu__search ::placeholder {
  color: #ccc;
}
.delete {
  display: inline-block;
}
.delete__btn {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  font-weight: bold;
  margin: 8px;
  background-color: #ee0028;
  color: #fff;
  padding: 5px 13px;
  border-radius: 32px;
  border: 2px solid #ee0028;
  box-sizing: border-box;
  border-radius: 5px;
  outline: 0;
  /* 入力の薄い枠を非表示  */
  transition: 0.3s;
}
.delete__btn:hover {
  background: #f6f6e9;
  color: #ee0028;
  border: solid 2px #ee0028;
}
__list {
  width: 500px;
  display: inline-block;
  margin-bottom: 0;
}
__list-ul {
  list-style: none;
  font-weight: bold;
  letter-spacing: 3px;
  padding: 0;
}
__list-ul-li {
  margin: 0;
  display: inline-block;
}
.item-show-wrapper {
  display: flex;
}
.item-show-wrapper__block {
  margin: 0 auto;
}
.item-show-wrapper__block-btn {
  width: 100%;
  font-size: 16px;
  display: flex;
  padding: 5px 10px 5px 16px;
  text-decoration: none;
  color: #f6f6e9;
  background: orange;
  border: solid 2px orange;
  box-sizing: border-box;
  border-radius: 5px;
  letter-spacing: 5px;
  transition: 0.3s;
}
.item-show-wrapper__block-btn:hover {
  background: #f6f6e9;
  color: orange;
  border: solid 2px orange;
}
.item-show-wrapper__block-btn:focus {
  outline: 0;
}
.item-name {
  font-weight: bold;
}
.stock {
  white-space: pre;
}
.line {
  border: solid 0.5px #ffdead;
  margin-bottom: 8px;
}
.table-list {
  width: 100%;
}
.table-list th {
  color: #ff9800;
  background: #fff5e5;
  letter-spacing: 2px;
}
.table-list td {
  color: gray;
  letter-spacing: 1px;
}
.table-list__th-top {
  width: 50px;
}
.table-list__th-bottom {
  width: 72px;
}
.table-list__tabel-edit {
  text-align: center;
}
.delbox-wrapper__block {
  margin: 24px 24px 24px 22px;
}
.time-limit {
  color: red;
  font-weight: bold;
}
.time-over {
  color: #fff;
  background-color: #dcdcdc;
}
.time-ago {
  font-weight: bold;
}
@media screen and (max-width: 900px) {
  .menu {
    display: block;
    margin-bottom: 32px;
  }
  .menu__search {
    margin: 0;
    vertical-align: middle;
  }
  .menu__register, .menu__list {
    display: inline-block;
    margin-bottom: 10px;
  }
  .css-br::after {
    content: "\A";
    white-space: pre;
  }
}
